body{
    font-family: 'Times New Roman', Times, serif; 
    color: rgb(94, 45, 17);
    background-color: rgb(68, 130, 172); 
    }   
    h1{ color: black}    
            

                  
    